cachetools
certifi
chardet
click
Corpora
Flask
google-api-core
google-api-python-client
google-auth
google-auth-httplib2
googleapis-common-protos
gunicorn
httplib2
idna
itsdangerous
Jinja2
joblib
MarkupSafe
nltk
numpy
pandas
plotly
protobuf
pyasn1
pyasn1-modules
pycountry
python-dateutil
pytz
regex
requests
retrying
rsa
six
tqdm
uritemplate
urllib3
vader-sentiment
Werkzeug
youtube-data-api
youtube-python
